{% extends 'steambird/base.html' %}
{% load i18n %}
{% load active_menu %}



{% block brand_link %}
    {% url 'boecie:index' %}
{% endblock %}



{% block nav_items %}
    {% url 'boecie:index' as home %}
    {#    {% url 'boecie:study.list' 1 as study_list %}#}
    {% url 'boecie:teacher.list' as teacher_list %}
    <li class="{% active_menu home %}">
        <a class="nav-link"
           href="{% url 'boecie:index' %}">{% trans "Home" %}</a>
    </li>
    {#    <li class="{% active_menu study_list %}">#}
    {#        <a class="nav-link"#}
    {#           href="{{ study_list }}">{% trans "Study List" %}</a>#}
    {#    </li>#}
    <li class="{% active_menu teacher_list %}">
        <a class="nav-link"
           href="{{ teacher_list }}">{% trans "Teachers" %}</a>
    </li>
{% endblock %}


{% block usermenu_dropdown_user %}
    {% if request.user.is_staff %}
        <a class="dropdown-item" href="{% url 'admin:index' %}">{% trans "Admin" %}</a>
        <div class="dropdown-divider"></div>
    {% endif %}
    <a class="dropdown-item" href="{% url "logout" %}">{% trans "Log out" %}</a>
{% endblock %}
