{% extends 'boecie/base.html' %}
{% load i18n %}
{% load bootstrapify %}

{% block content %}
    <div class="spacing"></div>
    <div class="container profile">
        <div class="row">
            <div class="col-xs-12 w-100">
                <h2>
                    <span>{% blocktrans with o=object %}Edit information of '{{ o }}'{% endblocktrans %}</span>
                </h2>
            </div>
        </div>

        {% if form.errors or formset.errors %}
            <div class="row">
                <div class="col-xs-12 w-100">
                    <div class="alert alert-danger"
                         role="alert">{% trans 'There were some problems with the data you entered. Please see below.' %}</div>
                </div>
            </div>
            {% if form.non_field_errors %}
                <div class="row">
                    <div class="col-xs-12 w-100">
                        <div class="alert alert-danger" role="alert">
                            <ul>
                                {% for error in form.non_field_errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endif %}

        <form method="post" class="form-horizontal">
            {% csrf_token %}
            {{ form.media.css }}
            <div class="row">
                <div class="col-xs-12 w-100">
                    <div class="card ">
                        <div class="card-header">
                            <h6 class="card-title mb-0">{% trans 'General course information' %}</h6>
                        </div>

                        <div class="card-body">

                            {% if form.course_code.errors or form.year.errors or form.name.errors %}
                                <div class="col-sm-offset-2 col-sm-10 w-100 form-control-static">
                                    {% if form.course_code.errors %}
                                        <span class="label label-danger">{% trans 'Course Code:' %}
                                            {% for error in form.course_code.errors %}
                                                {{ error }} {% endfor %}</span>&nbsp;
                                    {% endif %}
                                    {% if form.year.errors %}
                                        <span class="label label-danger">{% trans 'Year' %}
                                            {% for error in form.year.errors %}
                                                {{ error }} {% endfor %}</span>&nbsp;
                                    {% endif %}
                                    {% if form.name.errors %}
                                        <span class="label label-danger">{% trans 'Name:' %}
                                            {% for error in form.name.errors %}
                                                {{ error }} {% endfor %}</span>
                                    {% endif %}
                                </div>
                            {% endif %}
                            <div class="form-group">
                                <div class="row">
                                    <label class="col-sm-2 control-label w-100">{% trans "Course Code" %}
                                        <b class="form-required">*</b>
                                    </label>
                                    <div class="col-sm-10 w-100">
                                        <div class="form-inline">
                                            {{ form.course_code|form_bootstrapify }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <label class="col-sm-2 control-label w-100">{% trans "Year" %}
                                        <b class="form-required">*</b>
                                    </label>
                                    <div class="col-sm-10 w-100">
                                        <div class="form-inline">
                                            {{ form.calendar_year|form_bootstrapify }}

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <label class="col-sm-2 control-label w-100">{% trans "Name" %}
                                        <b class="form-required">*</b>
                                    </label>
                                    <div class="col-sm-10 w-100">
                                        <div class="form-inline">


                                            {{ form.name|form_bootstrapify }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {##}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="w-100 col-xs-12">
                    <div class="card ">
                        <div class="card-header">
                            <h6 class="card-title mb-0">{% trans 'Coordinator of the course' %}</h6>
                        </div>
                        <div class="card-body">
                            {% if form.teachers.errors %}
                                <div class="w-100 col-sm-offset-2 col-sm-10 form-control-static">
                                                <span class="label label-danger">{% for error in form.coordinator.errors %}
                                                    {{ error }} {% endfor %}</span>
                                </div>
                            {% endif %}
                            <div class="form-group">
                                <div class="row">
                                    <label for="{{ form.coordinator.id_for_label }}"
                                           class="w-100 col-sm-2 control-label">{{ form.coordinator.label }}</label>
                                    <div class="w-100 col-sm-10">
                                        <div class="form-inline">
                                            {{ form.coordinator }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="w-100 col-xs-12">
                    <div class="card ">
                        <div class="card-header">
                            <h6 class="card-title mb-0">{% trans 'Teachers related to course' %}</h6>
                        </div>
                        <div class="card-body">
                            {% if form.teachers.errors %}
                                <div class="w-100 col-sm-offset-2 col-sm-10 form-control-static">
                                                <span class="label label-danger">{% for error in form.teachers.errors %}
                                                    {{ error }} {% endfor %}</span>
                                </div>
                            {% endif %}
                            <div class="form-group">
                                <div class="row">
                                    <label for="{{ form.teachers.id_for_label }}"
                                           class="w-100 col-sm-2 control-label">{{ form.teachers.label }}</label>
                                    <div class="w-100 col-sm-10">
                                        <div class="form-inline">
                                            {{ form.teachers }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="w-100 col-xs-12">
                    <div class="card ">
                        <div class="card-header">
                            <h6 class="card-title mb-0">{% trans 'Materials related to course' %}</h6>
                        </div>
                        <div class="card-body">
                            {% if form.materials.errors %}
                                <div class="w-100 col-sm-offset-2 col-sm-10 form-control-static">
                                                <span class="label label-danger">{% for error in form.materials.errors %}
                                                    {{ error }} {% endfor %}</span>
                                </div>
                            {% endif %}
                            <div class="form-group">
                                <div class="row">
                                    <label for="{{ form.materials.id_for_label }}"
                                           class="w-100 col-sm-2 control-label">{{ form.materials.label }}</label>
                                    <div class="w-100 col-sm-10">
                                        <div class="form-inline">
                                            {{ form.materials }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="w-100 col-xs-12">
                    <div class="card ">
                        <div class="card-header">
                            <h6 class="card-title mb-0">{% trans 'Updated by info' %}</h6>
                        </div>
                        <div class="card-body">
                            {% if form.materials.errors %}
                                <div class="w-100 col-sm-offset-2 col-sm-10 form-control-static">
                                                <span class="label label-danger">{% for error in form.updated_associations.errors %}
                                                    {{ error }} {% endfor %}</span>
                                </div>
                            {% endif %}
                            <div class="form-group">
                                <div class="row">
                                    <label for="{{ form.updated_associations.id_for_label }}"
                                           class="w-100 col-sm-2 control-label">{{ form.updated_associations.label }}</label>
                                    <div class="w-100 col-sm-10">
                                        <div class="form-inline">
                                            {{ form.updated_associations|form_bootstrapify }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {% if form.updated_teacher.errors %}
                                <div class="w-100 col-sm-offset-2 col-sm-10 form-control-static">
                                                <span class="label label-danger">{% for error in form.updated_teacher.errors %}
                                                    {{ error }} {% endfor %}</span>
                                </div>
                            {% endif %}
                            <div class="form-group">
                                <div class="row">
                                    <label for="{{ form.updated_teacher.id_for_label }}"
                                           class="w-100 col-sm-2 control-label">{{ form.updated_teacher.label }}</label>
                                    <div class="w-100 col-sm-10">
                                        <div class="form-inline">
                                            {{ form.updated_teacher }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 w-100">
                    <div class="card ">
                        <div class="card-header">
                            <h6 class="card-title mb-0">{% trans 'Save profile' %}</h6>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <div class="w-100 col-xs-12">
                                    <button class="btn btn-primary btn-block"
                                            type="submit">
                                        {% if has_next %}{% trans 'Save and go to next course' %}{% else %}
                                            {% trans 'Save and go back to overview' %}{% endif %}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>
    {{ form.media.js }}

{% endblock %}

{#{% block usermenu_dropdown_user %}#}
{#    {% if request.user.is_staff %}#}
{#        <a class="dropdown-item" href="{% url 'admin:index' %}">{% trans "Admin" %}</a>#}
{#        <div class="dropdown-divider"></div>#}
{#    {% endif %}#}
{#    <a class="dropdown-item" href="{% url "logout" %}">{% trans "Log out" %}</a>#}
{#{% endblock %}#}
