{% extends 'boecie/base.html' %}
{% load i18n %}
{% load bootstrapify %}
{% load ut_url_mapper %}

{% block js %}
    {{ block.super }}
{#    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />#}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>
{% endblock %}

{% block content %}
    <div class="spacing"></div>
    <div class="container profile">
        {% if is_edit %}
            <h3>{% trans 'Add course to study' %}</h3>
            {% include 'boecie/studycourse_form.html' with form=studycourse_form %}
        {% endif %}
        <div class="row">
            <div class="col-xs-12 w-100">
                <h2>
                    {% if is_edit %}
                        <span>{% blocktrans with o=course_form.instance %}Edit information of '{{ o }}'{% endblocktrans %}</span>
                    {% else %}
                        <span>{% trans 'Creating Course' %}</span>
                    {% endif %}
                </h2>
            </div>
        </div>
        {% if course_form.errors or formset.errors %}
            <div class="row">
                <div class="col-xs-12 w-100">
                    <div class="alert alert-danger" role="alert">
                        {% trans 'There were some problems with the data you entered. Please see below.' %}
                        {{ course_form.errors }}
                    </div>
                </div>
            </div>
            {% if course_form.non_field_errors %}
                <div class="row">
                    <div class="col-xs-12 w-100">
                        <div class="alert alert-danger" role="alert">
                            <ul>
                                {% for error in course_form.non_field_errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endif %}

        <form method="post" id="course_form" class="form-horizontal">
            {% csrf_token %}
            {{ course_form.form_name }}
            {{ course_form.media.css }}
            <div class="row">
                <div class="col-xs-12 w-100">
                    <div class="card ">
                        <div class="card-header">
                            <h6 class="card-title mb-0">{% trans 'General course information' %}</h6>
                        </div>

                        <div class="card-body">
                            {% if course_form.course_code.errors or course_form.year.errors or course_form.name.errors %}
                                <div class="col-sm-offset-2 col-sm-10 w-100 form-control-static">
                                    {% if course_form.course_code.errors %}
                                        <span class="label label-danger">{% trans 'Course Code:' %}
                                            {% for error in course_form.course_code.errors %}
                                                {{ error }} {% endfor %}</span>&nbsp;
                                    {% endif %}
                                    {% if course_form.year.errors %}
                                        <span class="label label-danger">{% trans 'Year' %}
                                            {% for error in course_form.year.errors %}
                                                {{ error }}
                                            {% endfor %}
                                        </span>&nbsp;
                                    {% endif %}
                                    {% if course_form.name.errors %}
                                        <span class="label label-danger">{% trans 'Name:' %}
                                            {% for error in course_form.name.errors %}
                                                {{ error }}
                                            {% endfor %}
                                        </span>
                                    {% endif %}
                                    {% if course_form.period.errors %}
                                        <span class="label label-danger">{% trans 'Name:' %}
                                            {% for error in course_form.period.errors %}
                                                {{ error }}
                                            {% endfor %}
                                        </span>
                                    {% endif %}
                                </div>
                            {% endif %}

                            <div class="form-group required">
                                <div class="row">
                                    <label class="col-sm-2 control-label w-100">{% trans "Course Code" %}
                                    </label>
                                    <div class="col-sm-10 w-100">
                                        <div class="form-inline">
                                            {{ course_form.course_code|form_bootstrapify }}
                                            {% if is_edit %}
                                                <div class="ml-3">
                                                    <a href="{% osiris_url course_form.instance.course_code course_form.instance.calendar_year %}" {# TODO: make this temp .instance. fix work like a normal django form template_tag #}
                                                       target="_blank">
                                                        <span class="fa fa-external-link-alt"></span>
                                                    </a>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group required">
                                <div class="row">
                                    <label class="col-sm-2 control-label w-100">{% trans "Year" %}
                                    </label>
                                    <div class="col-sm-10 w-100">
                                        <div class="form-inline">
                                            {{ course_form.calendar_year|form_bootstrapify }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group required">
                                <div class="row">
                                    <label class="col-sm-2 control-label w-100">{% trans "Period" %}</label>
                                    <div class="col-sm-10 w-100">
                                        <div class="form-inline">
                                            {{ course_form.period|form_bootstrapify }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group required">
                                <div class="row">
                                    <label class="col-sm-2 control-label w-100">{% trans "Name" %}</label>
                                    <div class="col-sm-10 w-100">
                                        <div class="form-inline">
                                            {{ course_form.name|form_bootstrapify }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="w-100 col-xs-12">
                    <div class="card ">
                        <div class="card-header">
                            <h6 class="card-title mb-0">{% trans 'Coordinator of the course' %}</h6>
                        </div>
                        <div class="card-body">
                            {% if course_form.teachers.errors %}
                                <div class="w-100 col-sm-offset-2 col-sm-10 form-control-static">
                                    <span class="label label-danger">
                                        {% for error in course_form.coordinator.errors %}
                                            {{ error }}
                                        {% endfor %}
                                    </span>
                                </div>
                            {% endif %}
                            <div class="form-group required">
                                <div class="row">
                                    <label for="{{ course_form.coordinator.id_for_label }}"
                                           class="w-100 col-sm-2 control-label">{{ course_form.coordinator.label }}</label>
                                    <div class="w-100 col-sm-10">
                                        <div class="form-inline">
                                            {{ course_form.coordinator }}
                                            {% if is_edit %}
                                                <div class="ml-3">
                                                    <a href="{% people_utwente course_form.instance.coordinator.initials course_form.instance.coordinator.surname_prefix course_form.instance.coordinator.last_name %}"
                                                       target="_blank"> {# TODO: make this temp .instance. fix work like a normal django form template_tag #}
                                                        <span class="fa fa-external-link-alt"></span>
                                                    </a>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="w-100 col-xs-12">
                    <div class="card ">
                        <div class="card-header">
                            <h6 class="card-title mb-0">{% trans 'Teachers related to course' %}</h6>
                        </div>
                        <div class="card-body">
                            {% if course_form.teachers.errors %}
                                <div class="w-100 col-sm-offset-2 col-sm-10 form-control-static">
                                    <span class="label label-danger">
                                        {% for error in course_form.teachers.errors %}
                                            {{ error }}
                                        {% endfor %}
                                    </span>
                                </div>
                            {% endif %}
                            <div class="form-group">
                                <div class="row">
                                    <label for="{{ course_form.teachers.id_for_label }}"
                                           class="w-100 col-sm-2 control-label">{{ course_form.teachers.label }}</label>
                                    <div class="w-100 col-sm-10">
                                        <div class="form-inline">
                                            {{ course_form.teachers }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="w-100 col-xs-12">
                    <div class="card ">
                        <div class="card-header">
                            <h6 class="card-title mb-0">{% trans 'Materials related to course' %}</h6>
                        </div>
                        <div class="card-body">
                            {% if course_form.materials.errors %}
                                <div class="w-100 col-sm-offset-2 col-sm-10 form-control-static">
                                    <span class="label label-danger">
                                        {% for error in course_form.materials.errors %}
                                            {{ error }}
                                        {% endfor %}
                                    </span>
                                </div>
                            {% endif %}
                            <div class="form-group">
                                <div class="row">
                                    <label for="{{ course_form.materials.id_for_label }}"
                                           class="w-100 col-sm-2 control-label">{{ course_form.materials.label }}</label>
                                    <div class="w-100 col-sm-10">
                                        <div class="form-inline">
                                            {{ course_form.materials }}
                                        </div>
                                        <ul id="book_list" class="list-group">

                                        </ul>
                                    </div>
                                </div>
                                <script>
                                    $(function() {
                                    	const ul = document.getElementById("book_list");
                                    	const l = document.getElementById("{{ course_form.materials.id_for_label }}");
                                    	const link = "//" + window.location.host + "/boecie/msp/";

                                    	const handle_change = () => {
											options = $(l).find("option");
											values = $("#course_form").serializeArray().filter(a => a["name"] === "materials").map(a => a["value"]);
											ul.innerHTML = "";
											options.each((k, v) => {
												if (values.includes(v.value)) {
													const a = document.createElement("a", );
													a.setAttribute("href", link + v.value);
													a.appendChild(document.createTextNode(v.innerHTML));
													const li = document.createElement("li");
													li.setAttribute("class", "list-group-item");
													li.appendChild(a);
													ul.appendChild(li);
                                                }
                                            });
                                        };

										$("#id_materials").on("select2:select", handle_change);
                                    	handle_change();
                                    })
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="w-100 col-xs-12">
                    <div class="card ">
                        <div class="card-header">
                            <h6 class="card-title mb-0">{% trans 'Updated by info' %}</h6>
                        </div>
                        <div class="card-body">
                            {% if course_form.materials.errors %}
                                <div class="w-100 col-sm-offset-2 col-sm-10 form-control-static">
                                    <span class="label label-danger">
                                        {% for error in course_form.updated_associations.errors %}
                                            {{ error }}
                                        {% endfor %}
                                    </span>
                                </div>
                            {% endif %}
                            <div class="form-group">
                                <div class="row">
                                    <label for="{{ course_form.updated_associations.id_for_label }}"
                                           class="w-100 col-sm-2 control-label">{{ course_form.updated_associations.label }}</label>
                                    <div class="w-100 col-sm-10">
                                        <div class="form-inline">
                                            {{ course_form.updated_associations|form_bootstrapify }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {% if course_form.updated_teacher.errors %}
                                <div class="w-100 col-sm-offset-2 col-sm-10 form-control-static">
                                    <span class="label label-danger">
                                        {% for error in course_form.updated_teacher.errors %}
                                            {{ error }}
                                        {% endfor %}
                                    </span>
                                </div>
                            {% endif %}
                            <div class="form-group">
                                <div class="row">
                                    <label for="{{ course_form.updated_teacher.id_for_label }}"
                                           class="w-100 col-sm-2 control-label">{{ course_form.updated_teacher.label }}</label>
                                    <div class="w-100 col-sm-10">
                                        <div class="form-inline">
                                            {{ course_form.updated_teacher }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 w-100">
                    <div class="card ">
                        <div class="card-header">
                            <h6 class="card-title mb-0">{% trans 'Save profile' %}</h6>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <div class="w-100 col-xs-12">
                                    {#                                TODO: REALLY think about the exact implementation of what we want to to with the next course/save buttons#}
                                    {% if is_edit %}
                                        <button class="btn btn-primary btn-block" type="submit">
                                            {% if has_next %}
                                                {% trans 'Save and go to next course' %}
                                            {% else %}
                                                {% trans 'Save and go back to overview' %}
                                            {% endif %}
                                        </button>
                                    {% else %}
                                        <div class="row">
                                            <div class="col-6">
                                                <input class="btn btn-primary btn-block"
                                                       type="submit"
                                                       value="{% trans 'Save' %}"
                                                       name="_save"></div>
                                            <div class="col-6">
                                                <input class="btn btn-primary btn-block"
                                                       type="submit"
                                                       value="{% trans 'Save and mark as updated' %}"
                                                       name="_mark_updated">
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>
    {{ course_form.media.js }}

{% endblock %}
