{% extends 'boecie/base.html' %}
{% load i18n %}
{% load l10n %}

{% block content %}
    <div class="spacing"></div>
    <div class="container">
        <h2>Project SteamBird - Boecie Overview</h2>
            <br>
            <div class="col-12">
                {% for type, studies in types.items %}
                    <h3>{{ type|capfirst }}: </h3>
                    <hr>
                    <table class="table table-striped study-overview">
                    <tr class="hidden"></tr>
                    {% for study in studies %}
                    <tr class="row">
                        <td class="col-3">
                            <b><a href="{% url 'boecie:study.list' study.id %}">{{ study.name }}</a></b><br>
                        </td>
                        <td class="col-5">
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
                                     style="width: {{ study.courses_updated_teacher_p|unlocalize }}%"
                                     aria-valuenow="{{ study.courses_updated_teacher_p|unlocalize }}"
                                     aria-valuemin="0"
                                     aria-valuemax="100"
                                     title="{{ study.courses_updated_teacher_p}}%">{{ study.courses_updated_teacher_p }}%
                                </div>
                                <div class="progress-bar progress-bar-striped bg-warning" role="progressbar"
                                     style="width: {{ study.courses_updated_association_p|unlocalize }}%"
                                     aria-valuenow="{{ study.courses_updated_association_p|unlocalize }}"
                                     aria-valuemin="0"
                                     aria-valuemax="100"
                                     title="{{ study.courses_updated_association_p }}%">{{ study.courses_updated_association_p }}%
                                </div>
                            </div>
                        </td>
                        <td class="col-4">
                            Total: {{ study.courses_total }}, Updated: {{ study.courses_updated_association }}
                            ({{ study.courses_updated_association_p }}%),
                            Finalized: {{ study.courses_updated_teacher }} ({{ study.courses_updated_teacher_p }}%)
                        </td>
                    </tr>
                    {% endfor %}
                    </table>
                    <div class="spacing"></div>
                {% endfor %}
            </div>
        </div>

{% endblock %}
