{% extends 'boecie/base.html' %}
{% load i18n %}
{#Object is a Study group#}
{% block content %}
    <div class="spacing"></div>
    <div class="container">
        <h2>
            {{ study.name }}</h2>
        <hr>
        <a href="{% url 'boecie:course.create' study.pk %}" class="btn-link">
            <button class="btn btn-success btn-block"
                    type="submit">
                {% trans "Add new course" %}
            </button>
        </a>
        <br>
        {% include 'boecie/studycourse_form.html' %}
        <hr>
        <h3>
            {% trans "Courses to be updated:" %}
        </h3>
        <br>
        {% for course in courses %}
            {% if not course.updated_associations %}
                <div class="row">
                    <div class="col-4">
                        <a href="{% url 'boecie:course.detail' study.pk course.pk %}">
                            {{ course.name }}
                        </a>
                    </div>

                    <div class="col-5">
                        {{ course.coordinator }};
                        {{ course.teachers.all|join:'; ' }}
                        {# TODO: make teacher name automatiaclly be a link to their personal information page#}
                    </div>

                    <div class="col-1">
                        {{ course.study_year }}
                    </div>

                    <div class="col-1">
                        {{ course.calendar_year }}
                    </div>

                    <div class="col-1">
                        {{ course.period }}
                    </div>
                </div>
            {% endif %}
            {# TODO: Add handling for when after if statements empty#}
        {% endfor %}
        <div class="spacing"></div>
        <hr>
        <div class="spacing"></div>
        <h3>
            {% trans "Courses that are already updated" %}
        </h3>
        {% for course in courses %}
            {% if course.updated_associations %}
                <div class="row">
                    <div class="col-4">
                        <a href="{% url 'boecie:course.detail' study.pk course.pk %}">
                            {{ course.name }}
                        </a>
                    </div>

                    <div class="col-5">
                        {{ course.coordinator }};
                        {{ course.teachers.all|join:'; ' }}
                        {# TODO: make teacher name automatiaclly be a link to their personal information page#}
                    </div>

                    <div class="col-1">
                        {{ course.study_year }}
                    </div>

                    <div class="col-1">
                        {{ course.calendar_year }}
                    </div>

                    <div class="col-1">
                        {{ course.period }}
                    </div>

                </div>
            {% endif %}
        {% endfor %}
        {# TODO: Add handling for when after if statements empty#}
        <div class="spacing"></div>
    </div>
{% endblock %}
