[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://www-dev:wuppie@nexus.iapc.utwente.nl/repository/pypi-releases/simple"
verify_ssl = true
name = "iapc-releases"

[packages]
django = ">=2.1"
django-modeltranslation = "==0.13b1"
django-polymorphic = "==2.0.3"
pysidian-core = ">=0.0.7"
isbnlib = "*"
django_select2 = "*"
psycopg2 = "*"
django-addanother = "*"

[dev-packages]
django-debug-toolbar = "==1.10.1"
django-rosetta = ">=0.9"
rosetta = "*"
scipy = "*"
nltk = "*"
pandas = "*"

[requires]
python_version = "3.7"
