[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://www-dev:wuppie@nexus.iapc.utwente.nl/repository/pypi-releases/simple"
verify_ssl = true
name = "iapc-releases"

[packages]
django = ">=3,<4"
django-modeltranslation = ">=0.16,<0.17"
django-polymorphic = ">=3,<4"
pysidian-core = "==0.0.10"
isbnlib = "*"
django_select2 = "*"
psycopg2 = "*"
django-addanother = "*"
crossrefapi = "*"
vobject = "*"

[dev-packages]
django-debug-toolbar = ">=3.1,<4"
django-rosetta = ">=0.9.3,<0.10.0"
scipy = "*"
nltk = "*"
pandas = "*"
pylint = "*"
selenium = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
django-haystack = "*"
sphinxcontrib-django = "*"
sphinx-autodoc-annotation = "*"
m2r = "*"

[requires]
python_version = "3.8"
