{% extends 'pysidian_core/base.html' %}
{% load i18n %}
{% load active_menu %}
{% load static %}

{% block brand_link %}{% url 'index' %}{% endblock %}
{% block brand_text %}Steambird{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static "js/libs/0.11.9-validator.min.js" %}"></script>
{% endblock %}

{% block css %}
    {{ block.super }}
    <link href="{% static "css/steambird.less" %}" rel="stylesheet/less" type="text/css">
{% endblock %}

{% block page_title %}
    {% trans "Steambird" %}
{% endblock %}

{% block content %}
    <div class="spacing"></div>
    <div class="container">
        <div class="row">
            <div class="offset-md-1 offset-lg-0 col-md-5 col-lg-4 col-xl-3 order-0 d-none d-md-block">
                <a href="{% url 'index' %}">
                    <img class="ml-4" style="height:246px" src="{% static 'img/steambird.png' %}">
                </a>
            </div>
            <div class="col-md-5 col-lg-4 col-xl-3 order-1">
                <a class="text-decoration-none" href="{% url 'teacher:index' %}">
                    <div class="card tile my-2 mx-1">
                        <i class="icon fa fas fa-chalkboard-teacher"></i>
                        <div class="card-caption">
                           {% trans "Teacher" %}
                        </div>
                    </div>
                </a>
            </div>
            <div class="offset-md-1 offset-lg-0 col-md-5 col-lg-4 col-xl-3 order-2">
                <a class="text-decoration-none" href="https://boeken.iapc.utwente.nl/" target="_blank">
                    <div class="card tile my-2 mx-1">
                        <i class="icon fa fas fa-user-graduate"></i>
                        <div class="card-caption">
                            {% trans "Student" %}
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-5 col-lg-4 col-xl-3 order-3">
                <a class="text-decoration-none" href="{% url 'boecie:index' %}">
                    <div class="card tile my-2 mx-1">
                        <i class="icon fa fas fa-book-open"></i>
                        <div class="card-caption">
                            {% trans "BoeCie" %}
                        </div>
                    </div>
                </a>
            </div>
            <div class="offset-md-1 offset-lg-0 col-md-10 col-lg-8 col-xl-6 order-4 order-lg-0 order-xl-4">
                <div class="card card-textbox my-2 mx-1">
                    <div class="card-header">
                        <h3 class="card-title">
                            Welcome to project SteamBird
                        </h3>
                    </div>
                    <div class="card-body">
                        <i>{% trans "@Luuk, Deal with it." %}</i>
                        <p>SteamBird is the replacement for the ABC (Arjan's Book Companion) system of IAPC</p>
                        <p>For years the book committee of IAPC together with the study associations Inter-Actief and Proto made sure all book and course information is up to date in order for students to be able to buy the right books for their courses. Over the years, this has led to the development of the ABC system that aids the book committee in doing its task. Steambird is supposed to be a more mature and more modern service to replace the dated ABC system.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block footer %}
    <div class="spacing"></div>
    {% now 'Y' as year %}
    &copy; {{ year }} Stichting IAPC
    &middot; {% trans "KvK 41029973" %}
    &middot; {% trans "tel. 053 489 3927" %}
    &middot;
    <a href="https://www.iapc.nl">
        {% trans "Store Website" %}
    </a>
    &middot;
    <a href="">
        {% trans "Privacy Policy" %}
    </a>
    <div class="spacing"></div>
{% endblock %}



{# If you are already logged in#}
{% block usermenu_dropdown_user %}
    {% if request.user.is_staff %}
        <a class="dropdown-item" href="{% url 'admin:index' %}">
            {% trans "Admin" %}
        </a>
        <div class="dropdown-divider"></div>
    {% endif %}
    <a class="dropdown-item" href="{% url "logout" %}">
        {% trans "Log out" %}
    </a>
{% endblock %}

{# Not logged in #}
{% block usermenu_dropdown_guest %}
    <form action="{% url 'login' %}?next={{ request.path }}"
          method="POST"
          class="pl-4 pl-lg-2 pr-4 pr-lg-2">
        {% csrf_token %}
        <div class="form-group">
            <label for="login_username">
                {% trans 'Username' %}:
            </label>
            <input id="login_username" required type="text" class="form-control" name="username"/>
        </div>
        <div class="form-group">
            <label for="login_password">
                {% trans 'Password' %}:
            </label>
            <input id="login_password" required type="password" class="form-control"
                   name="password"/>
        </div>
        <button type="submit" class="btn btn-primary">
            {% trans 'Login' %}
        </button>
    </form>
{% endblock %}