{% extends 'pysidian_core/base.html' %}
{% load i18n %}


{% block content %}
    <div class="spacing"></div>
    <div class="container">
        <div class="textmodule">
            <h2>Project Stoomvogel</h2>
            {#            <div class="textmodule-text">#}
            <div class="col-12">
                <p>{% blocktrans %}Hello <b>{{ teacher }}</b>, this is the current status of the courses you are
                    assigned to: (according to osiris) {% endblocktrans %}</p>
            </div>
            <div>
                {% for course in teacher.course_set.all %}
                    <div class="card">
                        <div class="card-header">{{ course }}</div>
                        <ul class="list-group">
                            {% for book in course.materials.all %}
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <a href="{% url 'courseview.details' book.id %}"> {{ book.osiris_specified_material }}</a>
                                    <span class="badge badge-{{ book.stage_bootstrap_tab }} badge-pill">{{ book.stage }}</span>
                                </li>

                            {% empty %}
                                <li class="list-group-item"> {% trans "No books" %}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <br>
                {% empty %}
                    <div class="card">
                        <div class="card-header"> {% trans "No courses found" %} </div>
                    </div>
                    <br>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block usermenu_dropdown_user %}
    {% if request.user.is_staff %}
        <a class="dropdown-item" href="{% url 'admin:index' %}">{% trans "Admin" %}</a>
        <div class="dropdown-divider"></div>
    {% endif %}
    <a class="dropdown-item" href="{% url "logout" %}">{% trans "Log out" %}</a>
{% endblock %}
