{% extends 'pysidian_core/base.html' %}
{% load i18n %}
{% load render_template_type %}
{% url 'courseoverview:details' as details %}

{% block content %}
    <div class="spacing"></div>
    <div class="container">
        <div class="textmodule">
            <h2>{% trans "Item Details" %}</h2>
            <div>
                Requested Material (according to osiris):
                {% render_template_type msp.osiris_specified_material "steambird/material_type/{}_template.html" %}
                {#                {{ msp.osiris_specified_material }}<br><br>#}
                <br><br>
                Possible replacement Materials:
                {% for material in msp.available_materials.all %}
                    {% render_template_type material "steambird/material_type/{}_template.html" %}
                    <br>

                {% empty %}
                    {% trans 'No replacements needed' %}
                {% endfor %}
                <br>
                Status:
                {{ msp.stage }}
                <br>
                Why: {{ msp.reason }}<br><br>

                <br>
                <br>


                <br>
            </div>


        </div>
        {#            </div>#}
    </div>

{% endblock %}

{% block usermenu_dropdown_user %}
    {% if request.user.is_staff %}
        <a class="dropdown-item" href="{% url 'admin:index' %}">{% trans "Admin" %}</a>
        <div class="dropdown-divider"></div>
    {% endif %}
    <a class="dropdown-item" href="{% url "logout" %}">{% trans "Log out" %}</a>
{% endblock %}
