{% extends 'pysidian_core/base.html' %}
{% load i18n %}
{% load render_template_type %}
{% url 'courseoverview:details' as details %}

{% block content %}
    <div class="spacing"></div>
    <div class="container">
        <div class="textmodule">
            <h2>{% trans "Item Details" %}</h2>
            <div>
                {{ msp.osiris_specified_material }}<br><br>
                {% for material in msp.available_materials.all %}
                    {{ material }}<br>
                {% endfor %}
                <br>
                {{ msp.reason }}<br><br>
                {{ msp.approved_material }}<br>

                <div class="card">
                    <div class="card-header">
                        {{ msp.osiris_specified_material.name }}
                    </div>
                    <ul class="list-group list-group-flush">
                        {{ msp.osiris_specified_material }}
                    </ul>
                    {# Probably best to write it out per object type #}
                    <br>
                    <b> this is interesting number: </b>
                    {{ msp.osiris_specified_material.polymorphic_ctype }}

                    {% render_template_type msp.osiris_specified_material "steambird/material_type/{}_template.html" %}
                </div>


            </div>
            {#            </div>#}
        </div>
    </div>
{% endblock %}

{% block usermenu_dropdown_user %}
    {% if request.user.is_staff %}
        <a class="dropdown-item" href="{% url 'admin:index' %}">{% trans "Admin" %}</a>
        <div class="dropdown-divider"></div>
    {% endif %}
    <a class="dropdown-item" href="{% url "logout" %}">{% trans "Log out" %}</a>
{% endblock %}
