{% extends 'teacher/base.html' %}
{% load i18n %}


{% block content %}

    <div class="spacing"></div>
    <div class="container">
        <div class="spacing"></div>
        <div class="row">
            <b>Title:</b> {{ scientificarticle.title }}
        </div>
        <div class="row">
            <b>DOI:</b> {{ scientificarticle.DOI }}
        </div>
        <div class="row">
            <b>Authors:</b> {{ scientificarticle.author }}
        </div>
        <div class="row">
            <b>Year of publishing:</b> {{ scientificarticle.year_of_publishing }}
        </div>
        <div class="row">
            <a href="{{ scientificarticle.url }}">
                {{ scientificarticle.url }}
            </a>
        </div>
        <div class="spacing"></div>
    </div>
{% endblock %}
