{% extends 'steambird/base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
    <div class="container">
        <div class="spacing"></div>
        <h2>{% trans 'Add material' %}</h2>

        {{ form.errors }}
        <select id="type-add">
            <option value selected>Select type...</option>
            <option value="book">Book</option>
            <option value="paper">Scientific Article</option>
            <option value="other">Other Materials</option>
        </select>
        <div class="spacing"></div>

        {% include "material_management/forms/new_book.html" %}
        {% include "material_management/forms/new_article.html" %}
        {% include "material_management/forms/new_other.html" %}
    </div>
{% endblock %}

{% block endjs %}
    <script src="{% static "js/steambird/forms/new_studymaterial.js" %}"></script>
{% endblock %}

