{% extends 'steambird/base.html' %}
{% load i18n %}
{% load active_menu %}

{% block brand_link %}{% url 'teacher:index' %}{% endblock %}
{% block brand_text %}Steambird Teacher{% endblock %}


{% block nav_items %}
    {% url 'teacher:index' as home %}
    {% url 'teacher:isbn' as isbn %}
    {% url 'teacher:courseview.list' as courseview %}

    <li class="{% active_menu home %}">
        <a class="nav-link" href="{{ home }}">{% trans "Home" %}</a>
    </li>
    <li class="{% active_menu isbn %}">
        <a class="nav-link"
           href="{{ isbn }}">{% trans "ISBN" %}</a>
    </li>
    <li class="{% active_menu courseview %}">
        <a class="nav-link"
           href="{{ courseview }}">{% trans "Course Overview" %}</a>
    </li>



{% endblock %}

{% block usermenu_dropdown_user %}
    {% if request.user.is_staff %}
        <a class="dropdown-item" href="{% url 'admin:index' %}">{% trans "Admin" %}</a>
        <div class="dropdown-divider"></div>
    {% endif %}
    <a class="dropdown-item" href="{% url "logout" %}">{% trans "Log out" %}</a>
{% endblock %}
