{% extends 'steambird/mail/base.html' %}

{% block content %}
    <p>
        This is a message in multiple languages.  It says the
        same thing in each language.  If you can read it in one language,
        you can ignore the other translations. The other translations may be
        presented as attachments or grouped together.
    </p>
    <p>
        Dit is een bericht in meerdere talen. Het betekent hetzelfde in iedere
        taal. Als je het kan lezen in een taal, mag je de anderen negeren. De
        andere vertalingen kunnen worden gepresenteerd als bijlagen, of bij
        elkaar worden gegroept.
    </p>
{% endblock %}