{% extends 'student/base.html' %}
{% load i18n %}

{% block content %}
    <div class="spacing"></div>
    <div class="container">
        <div class="col-12">
            <h2>Search</h2>
            <form method="post" action="">
                {% csrf_token %}
                {{ form.as_p }}
                {{ form.errors }}
                <button class="btn btn-success" value="Search for Courses">Search for courses</button>
            </form>
        </div>
        <hr/>
        <h2>{{ study }}</h2>
        <br>
        {% for period in periods %}
            <h4>
                {% blocktrans with year=period.year quartile=period.quartile.sorting_index %}
                    Year {{ year }}, Quartile {{ quartile }}
                {% endblocktrans %}
            </h4>
            <hr>
            <div class="row">
                <div class="col-3">
                    <h6>{% trans 'Course Code' %}</h6>
                </div>
                <div class="col-3">
                    <h6>{% trans 'Course Name' %}</h6>
                </div>
                <div class="col-6">
                    <h6>{% trans 'Course Coordinator' %}</h6>
                </div>
            </div>

            {% for course in period.courses %}
                <div class="row">
                    <div class="col-3">{{ course.course_code }}</div>
                    <div class="col-3">{{ course.name }}</div>
                    <div class="col-6">{{ course.coordinator }}</div>
                    <ul class="list-group">
                        {% for msp in course.materials.all %}
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <a href="{% url 'teacher:msp.detail' msp.id %}">
                                    {{ msp.teacher_str }}
{#                                    TODO: make this actually useful information#}
                                </a>
                                <span
                                        class="badge badge-{{ msp.stage_bootstrap_tab }} badge-pill">
                                    {{ msp.stage }}
                                </span>
                            </li>

                        {% empty %}
                            <li class="list-group-item">
                                {% trans "No msps" %}
                            </li>
                        {% endfor %}
                    </ul>

                </div>
            {% endfor %}
            <br>
        {% endfor %}
    </div>
    <div class="spacing"></div>
{% endblock %}
